*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

#backup files
*.*~
*~
*.swp

#Xcode
src/views/macruby/iroha/*.xcodeproj/*
!src/views/macruby/iroha/*.xcodeproj/project.pbxproj
!src/views/macruby/iroha/*.xcworkspace/contents.xcworkspacedata
.DS_Store
